#nav{
background-color: #202649;
padding: 16px 30px;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.38);
}
#name{
    font-size: 30px;
    font-weight: bold;

}
#subscribe{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 11px 32px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
li{
    font-size: 18px;
    
}

.rounded{
    border-radius: 361px;
}
#profile{
    box-sizing: content-box;
    border: 37px solid rgba(11, 34, 167, 0.1);
    position: relative;
}
#banner{
box-sizing: content-box;
border: 10px solid #ffffff;
position: absolute;
top: -50px;
left: 280px;
}